body {
  font-size: 1.8rem;
  margin: 3em auto;
}

li > a {
  padding: 0.5rem;
  margin: 0.5rem;
}

.heading {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.logo {
  box-sizing: border-box;
  margin-bottom: 1rem;
  max-width: 100%;
  width: 20rem;
}
